<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
 <h3>Account</h3>
 <ion-list lines="none">
    <ion-item>
      <ion-label>
        <h6>Sign in as</h6>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"color="fave" ></ion-icon>
      <ion-label>
        <h4> {{email}}</h4>
        </ion-label>
      <ion-icon name="ellipsis-vertical" slot="end"color="fave" (click)="editProfile()" ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>