<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="assets/backgrounds/strongw.png"/>
  </ion-card>

    <h1>Log In</h1>
  
 <form [formGroup]="credential" (ngSubmit)="login()">
   <ion-item fill="solid" class="ion-margin-bottom">
     <ion-input type="email" placeholder="Email" formControlName="email">
     </ion-input>
     <ion-note slot="error" *ngIf="(email.dirty||email.touched) && email.errors">Email is invalid</ion-note>
   </ion-item>

   <ion-item fill="solid" class="ion-margin-bottom">
    <ion-input type="password" placeholder="Password" formControlName="password">
    </ion-input>
    <ion-note slot="error" *ngIf="(password.dirty|| password.touched) && password.errors">Password needs to be at least 6 characters long</ion-note>
  </ion-item>

   <ion-button expand="full" type="submit" [disabled]="!credential.valid" color="dark">Login</ion-button>
 </form>
 <div><a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a></div>
 <ion-item  class="ion-text-center">
  <ion-label>You don't have an account?</ion-label>
</ion-item>
<ion-button class="ion-margin-top" color="dark" expand="block"  [routerLink]="['/signup']">Register</ion-button>
</ion-content>
