<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
      <h3>TIMER</h3>
      <ngx-gauge
              [type]="time.gaugeType" cap="round" thick="12" size="200" foregroundColor="#0b6b4b"
              backgroundColor="rgba(83,71,91, 0.9)"
              [value]="time.gaugeValue"
              [label]="time.gaugeLabel"
              max="120"
              [append]="time.gaugeAppendText">
      </ngx-gauge>
  </ion-card>
  <ion-row>
      <ion-col size="12" class="ion-text-center">
          <ion-button class="btn-primary" color="fave" (click)="onStop()">{{this.isStop ? 'Start' : 'Stop'}}</ion-button>
      </ion-col>
  </ion-row>

</ion-content>
