 <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Rutines</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="routines">
     <ion-icon name="options-outline"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="challenge">
      <ion-icon name="fitness-outline"></ion-icon>
      <ion-label>Daily challenge</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
