<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
      </ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="toggle()">
              <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-row class="search safe" [class.active]="isActive">
          <ion-item lines="none" class="ion-no-padding" style="width: 100%">
              <ion-buttons>
                  <ion-button (click)="toggle()">
                      <ion-icon color="primary" name="arrow-back" size="large"></ion-icon>
                  </ion-button>
              </ion-buttons>
              <ion-searchbar color="light" class="ion-no-padding ion-no-margin"
                             (ionInput)="onSearch($event)"></ion-searchbar>
          </ion-item>
      </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-list>
  <ion-item  *ngFor="let item of list">
    <ion-label>{{item.name}}</ion-label>
    <ion-icon name="information-circle-outline" color="fave"></ion-icon> 
  </ion-item>
</ion-list>
  <app-custom-pagination (pagination)="onPage($event)" [pageData]="pageList"></app-custom-pagination>
</ion-content>
