<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-card>
      <img src="assets/backgrounds/welcomepage.jpg"/>
    </ion-card>
    <h1>Register</h1>
  
    <form [formGroup]="credential">
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="text" placeholder="Name" formControlName="name">
        </ion-input>
        <ion-note slot="error" *ngIf="(name.dirty||name.touched) && name.errors">Name is invalid</ion-note>
      </ion-item>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="email" placeholder="Email" formControlName="email">
        </ion-input>
        <ion-note slot="error" *ngIf="(email.dirty||email.touched) && email.errors">Email is invalid</ion-note>
      </ion-item>
   
      <ion-item fill="solid" class="ion-margin-bottom">
       <ion-input type="password" placeholder="Password" formControlName="password">
       </ion-input>
       <ion-note slot="error" *ngIf="(password.dirty|| password.touched) && password.errors">Password needs to be at least 6 characters long</ion-note>
     </ion-item>
   
      <ion-button expand="full" (click)="register()" [disabled]="!credential.valid" color="dark">Register</ion-button>
    </form>
    <ion-item  class="ion-text-center">
      <ion-label>Or</ion-label>
    </ion-item>
    <ion-button class="ion-margin-top" color="dark" expand="block"  [routerLink]="['/login']">Login</ion-button>
</ion-content>


