<ion-header>
  <ion-toolbar>
    <ion-title>{{cName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="fave">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-list>
    <ion-item  *ngFor="let exercise of exercises">
      <ion-label (click)="sendData(exercise)"s> {{exercise.exerciseName}} </ion-label>
      <ion-icon name="information-circle-outline" color="fave"></ion-icon> 
    </ion-item>
  </ion-list>
</ion-content>
