.name {
  font-size: 20px;
  margin-bottom: 5px;
}
.profile {
  background-size: cover;
  padding: 50px 0 15px 0px;
  border-top: 0;
  text-align: center;
}
ion-item{
  margin-left: 10px;
  margin-right: 10px;
}