<ion-content >
  <ion-slides pager="true">
    <ion-slide >
        <img src="assets/backgrounds/strongn.jpg" />
        <h1 class="ion-text-uppercase ion-padding-top">Get stronger</h1>
        <p class="ion-text-uppercase ion-no-margin ion-margin-top">Track your workouts without the hassle.</p>
          <p class="ion-text-uppercase ion-no-margin ion-margin-top"><b>FitMe</b> is quick, clean and easy to use.</p>
    </ion-slide>

    <ion-slide >
      <img src="assets/backgrounds/greatn.jpg" />
      <h1 class="ion-text-uppercase ion-padding-top">Dare to be great</h1>
      <p class="ion-text-uppercase ion-no-margin ion-margin-top">Beat your previous workouts. </p>
      <p class="ion-text-uppercase ion-no-margin ion-margin-top"><b>FitMe</b> helps you stay on track.</p>
    </ion-slide>

    <ion-slide >
      <img src="assets/backgrounds/statisticsn.jpg" />
      <h1 class="ion-text-uppercase ion-padding-top">Analyze your needs</h1>
      <p class="ion-text-uppercase ion-no-margin ion-margin-top">
        <b>FitMe</b> uses AI to design your perfect routine.
      </p>
    </ion-slide>

    <ion-slide >
      <img src="assets/backgrounds/readyn.jpg" />
      <h1 class="ion-text-uppercase ion-padding-top">Ready for a new journey?</h1>
      <ion-button fill="clear" color="dark" [routerLink]="['/home']">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
  <ion-item lines="none" class="transparent">
    <ion-button slot="start" fill="clear" color="fave" (click)="onSkip()">SKIP</ion-button>
    <ion-button slot="end" fill="clear" color="fave"  (click)="onNext()">NEXT</ion-button>
</ion-item>
</ion-content>