<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" fill="clear"  (click)="addCategory()">
      <ion-icon name="add" color="fave"></ion-icon>
    </ion-button>
    <ion-title>Workout</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-list>
    <ion-item  *ngFor="let category of categories" (click)="openCategory(category)">
      <ion-label> {{category.categoryName}} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
