<ion-header>
  <ion-toolbar>
    <ion-title>{{name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="fave">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-list lines="none">
    <ion-item>
      <ion-label>
        <h6>Exercises</h6>
      </ion-label>
    </ion-item>
    <ion-item  *ngFor="let type of types">
      <ion-label>
        <h3> {{type.name}}</h3>
        <p>{{type.sets}} sets</p></ion-label>
      <ion-icon name="ellipsis-vertical" slot="end"color="fave" ></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab horizontal="end" slot="fixed" vertical="bottom" class="fab-right">
    <ion-fab-button color="fave">
        <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
