<ion-header>
  <ion-toolbar>
    <ion-title>Add new activity</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="fave">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Exercise name</ion-label>
    <ion-input [(ngModel)]="activityName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Style</ion-label>
    <ion-select [(ngModel)]="type">
      <ion-select-option *ngFor="let  type of types" [value]="type.name">{{type.name}}</ion-select-option>
    </ion-select>
  </ion-item>
<ion-button expand="block" color="fave" (click)="addActivity()">Add</ion-button>
</ion-content>
