<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="fave"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">{{today | date: 'MMMM'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card *ngFor="let routine of routines" (click)="goToEdit(routine)">
    <ion-card-title>{{routine.routineName}} 
    </ion-card-title>
    <ion-card-content>
      <ion-list lines="none" >
        <ion-item *ngFor="let exercise of routine.exercises">
          <ion-label>
            {{exercise.sets.length}} x {{exercise.name}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab horizontal="end" slot="fixed" vertical="bottom" class="fab-right">
    <ion-fab-button color="fave" (click)="addRoutine()">
        <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>