<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="fave"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">{{today | date: 'MMMM'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <ion-card-title>Full body</ion-card-title>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>
            3x Squats
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            2x Lateral raises
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            3x Crunches
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            4x Biceps curl
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab horizontal="end" slot="fixed" vertical="bottom" class="fab-right">
    <ion-fab-button color="fave" (click)="addRoutine()">
        <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>