ion-card{
  background-color:rgb(251, 251, 251);
  margin-top: 15px;
  padding: 0;
}
  ion-card-title{
    padding-top: 5px;
    padding-left: 10px;
    color:black;
    font-weight: 500;
    font-size: 1.2em;
  }
  
  ion-item {
   --min-height: 0;
   --padding-end: 0px;
   --inner-padding-end: 0px;
   --padding-start: 0px;
  --inner-padding-start: 0px;
  --border-width: 0;
    --inner-border-width: 0;
    --outer-border-width: 0;
    background-color: rgb(251, 251, 251);
   }
  ion-label {
    margin: 0; 
   background-color: rgb(251, 251, 251);
  }
  ion-list{
    border-width: 0;
    padding: 0;
    background-color: rgb(251, 251, 251);;
  }
.logRoutine{
  font-size: 20px;
  font-weight: 500;
}
.log{
  margin-top:50%;
  align-items: center;
  text-align: center;
}